<% provide(:title, "#{@username}'s list") %>

<div class="container flash">
  <%= render "shared/flash" %>
</div>

<main class="container">
  <% if @items.none? %>
    <%= render "lists/empty_list" %>
  <% else %>
    <rl-container data-controller="reading-list" data-reading-list-target="container">
      <%= render "lists/key" %>
      <%= render "lists/sorts" %>
      <%= render "lists/filters" %>

      <% if !@show_planned_list %>
        <%= render "lists/table", items: @items_so_far, target_name: "table" %>
      <% else %>
        <sl-tab-group>
          <sl-tab slot="nav" panel="so_far">
            So far
          </sl-tab>
          <sl-tab slot="nav" panel="planned">
            Planned
          </sl-tab>

          <sl-tab-panel name="so_far">
            <%= render "lists/table", items: @items_so_far, target_name: "table" %>
          </sl-tab-panel>
          <sl-tab-panel name="planned">
            <%= render "lists/table", items: @items_planned, target_name: "plannedTable" %>
          </sl-tab-panel>
        </sl-tab-group>
      <% end %>
    </rl-container>
  <% end %>
</main>