<article class=grid>
  <div>
    <h2>Edit account details</h2>
  </div>
  <div>
    <%= form_with model: current_user, url: config_update_account_path do |f| %>
      <%= render "shared/form_errors", form: f %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password, "New password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "New password confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save" %>
    <% end %>
  </div>
</article>