<% provide(:title, "Log in") %>
<main class="container">
  <article class="grid side-image-card">
    <div>
      <h1>Log in</h1>
      <%= form_with model: @user, url: login_path do |f| %>
        <%= render partial: "shared/flash" %>
        <%# TODO: render form_errors instead? %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= link_to "Forgot your password?", password_reset_path %>

        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %>
          <span>Remember me</span>
        <% end %>

        <%= f.submit "Log in" %>
      <% end %>
    </div>
    <div class="image-library"></div>
  </article>
</main>


