<main class="container">
  <article class="grid side-image-card">
    <div>
      <h1>Reset your password</h1>

      <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |f| %>
        <%= render "shared/form_errors", form: f %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Reset password" %>
      <% end %>
    </div>
    <div class="image-book-stack-bright"></div>
  </article>
</main>